 .films-container {
    padding: 2rem 4rem;
   
 }

.header{
    background-color: #110135;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 1rem 4rem;
}

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
   
    gap: 10rem;
}

.header li {
    margin-left: 0;
    font-weight: 600;
    
}

.header a {
    text-decoration: none;
    color: rgb(241, 240, 239);  
   font-size: 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


 .films-container h2{
    background-color: rgb(17, 1, 53);
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(241, 240, 239);
    border-radius: 8px;
    
    animation: glow 1.5s infinite alternate;
    padding: 1.5rem;
   
 }

 @keyframes glow{
    0%{
        text-shadow: 0 0 5px #c9834a, 0 0 10px #c9834a, 0 0 20px #c9834a, 0 0 40px #c9834a, 0 0 80px #c9834a;
    }
    100%{
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}

 .films-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
 }

.film-card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.2s;
        text-decoration: none;
        color: inherit;
}

.film-card img{
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.film-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.film-info h3 {
    font-size: 1.2rem;
    text-align: center;
    color: darkorange;
}

.film-info button {
    padding: 0.5rem 1rem;
    background-color: darkorange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.film-info button:hover {
    background-color: #e59400;
}